In [1]:
import pandas as pd
import numpy as np

In [1]:
import pandas as pd
import numpy as np

df1 = pd.read_csv('./서울시2.csv')
df2 = pd.read_csv('./20221107_5Min.csv')

c:\users\이윤호\appdata\local\programs\python\python37\lib\site-packages\IPython\core\interactiveshell.py:3553: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [2]:
df2.columns = ['날짜','시간','LINK_ID','도로기관코드','통행속도']

In [103]:
df2["구분"] = ((df2['시간']-1)/100).astype(int)

In [104]:
df2

                 날짜    시간     LINK_ID    도로기관코드  통행속도  구분
0          20221107     0  2334340101  46340006   4.0   0
1          20221107     0  1411097401  46340006  20.0   0
2          20221107     0  3970318701  46340006  81.0   0
3          20221107     0  2620201401  46340006   4.0   0
4          20221107     0  1640331101  46340006  13.0   0
...             ...   ...         ...       ...   ...  ..
123126853  20221107  2355  2990060400  46340006  16.0  23
123126854  20221107  2355  2430198500  46340006  54.0  23
123126855  20221107  2355  2320016502  46340006  66.0  23
123126856  20221107  2355  2700014700  46340006  16.0  23
123126857  20221107  2355  1150021300  46340006  28.0  23

[123126858 rows x 6 columns]

In [111]:
df2['newone'] = df2['LINK_ID'].astype(str).str[:2]
df2

                 날짜    시간     LINK_ID    도로기관코드  통행속도  구분 newone
0          20221107     0  2334340101  46340006   4.0   0     23
1          20221107     0  1411097401  46340006  20.0   0     14
2          20221107     0  3970318701  46340006  81.0   0     39
3          20221107     0  2620201401  46340006   4.0   0     26
4          20221107     0  1640331101  46340006  13.0   0     16
...             ...   ...         ...       ...   ...  ..    ...
123126853  20221107  2355  2990060400  46340006  16.0  23     29
123126854  20221107  2355  2430198500  46340006  54.0  23     24
123126855  20221107  2355  2320016502  46340006  66.0  23     23
123126856  20221107  2355  2700014700  46340006  16.0  23     27
123126857  20221107  2355  1150021300  46340006  28.0  23     11

[123126858 rows x 7 columns]

In [113]:
a = df2[df2['newone'] == '10']

In [114]:
b = df2[df2['newone'] == '11']

In [115]:
c = df2[df2['newone'] == '12']

In [116]:
d = df2[df2['newone'] == '20']

In [117]:
e = df2[df2['newone'] == '21']

In [118]:
f = df2[df2['newone'] == '22']

In [119]:
df2 = pd.concat([a,b,c,d,e,f])

In [53]:
roadlst = df1['detail'].unique().tolist()

In [98]:
print(df1[df1['detail'] == roadlst[5]]['LINK_ID'].to_list())

[1000018901, 1000018902, 1000018903, 1000019001, 1000019002, 1000019003]

In [97]:
print(df1[df1['detail'] == roadlst[6]]['LINK_ID'].to_list())

[1000019100, 1000019200, 1000019901, 1000020001, 1070027800, 1070028100]

In [7]:
청계천로 = [1000002801, 1000002802, 1000002901, 1000002902, 1000003001, 1000003301, 1000003302, 1000004300, 1000005301, 1000005302, 1010019702, 1010019703, 1030020402, 1030066000, 1030066100, 1050005502, 1050005503, 1050005504, 1030020301, 1030020302, 1030066200, 1030066300, 1030066400, 1000002702, 1000003700, 1000003801, 1000005402, 1000005700, 1000005800, 1010019600, 1010019701, 1010019803, 1030020303, 1030065900, 1000003400, 1000002701, 1000003002, 1000003101, 1000003102, 1000003201, 1000003202, 1000005401, 1000004400, 1000047300, 1010019801, 1000003802, 1030020401]
삼봉로 = [1000007501, 1000007502, 1000007601, 1000007602, 1000008501, 1000008601, 1000029000, 1000029100]
창경궁로 = [1000008703, 1000008801, 1000015503, 1000015602, 1000017701, 1000017801, 1000019302, 1000019401, 1000019402, 1070073400, 1070073500, 1010007902, 1010017103, 1000015504, 1000008802, 1000019301, 1010008001, 1010008002, 1010007901, 1010012800, 1010017203, 1010012701, 1010012702, 1000005501, 1010017202, 1010017102, 1000005601, 1000005602, 1000008701, 1000008702, 1010017101, 1010017201, 1000005502, 1000015603]
자하문로 = [1000015402, 1000015403, 1000017901, 1000019501, 1000019502, 1000019503, 1000019504, 1000019602, 1000019603, 1000019604, 1000019605, 1000020802, 1000015301, 1000015302, 1000015303, 1000015401, 1000017902, 1000018001, 1000020701, 1000020702, 1000020801, 1000018002]
청와대로 = [1000016500, 1000016600, 1000017300, 1000017400]
성균관로 = [1000018901, 1000018902, 1000018903, 1000019001, 1000019002, 1000019003]
# 6
혜화로 = [1000019100, 1000019200, 1000019901, 1000020001, 1070027800, 1070028100]
강변북로 = [2180000101, 1020000602, 2210044100, 2210044400, 2210044500, 2210044802, 1130000902, 1130001001, 1130001002, 1130001005, 1130001013, 1130001023, 1130001033, 2210047700, 2210043800, 1130094401, 1130094501, 1130094301, 1130094201, 2210044000, 1130036500, 2210043900, 2210068000, 1030001001, 1040000202, 2220064300, 2220064400, 2210044701, 2210044702, 1020001201, 1020000101, 1020000201, 1020000301, 1020000303, 1020000304, 1020000401, 1020000403, 1020000501, 1020001202, 1020001301, 1020000702, 1020001001, 1020001002, 1020001100, 1020001302, 1020001403, 1020023700, 1030000302, 1030000303, 1030000304, 1030000401, 1030000402, 1030000403, 1030000500, 1030000601, 1030000602, 1030000700, 1040000101, 1040000102, 1040000103, 1040000201, 1040000501, 1040000502, 1040000803, 1040001201, 1040002102, 1040004201, 2220055701, 2220055702, 2220055801, 2220055802, 1130000304, 1020000202, 1020000601, 1020000701, 1020000901, 1020001304, 1020001305, 1020001404, 1030000800, 1030000902, 1040000601, 1040000701, 1040000802, 1040001502, 1040001601, 1040001602, 2210068200, 1130000901, 1130001400, 1130001901, 1130003401, 1130003402, 1130004304, 1130004401, 1130006902, 1130006903, 1130007002, 1130007300, 2210041300, 2210046500, 2210046600, 2210046702, 2210046801, 2210047100, 2210047200, 2210048400, 2210048500, 2210047800, 2210048100, 2210048200, 2210048300, 2210066800, 2210066900, 2210102900, 2210103000, 2210102100, 2210102200, 1130000301, 1130000302, 1130000303, 1130000401, 1130000402, 1130000403, 1130002001, 1130002002, 1130002402, 1130034300, 1020001004, 1020001203, 1020000902, 1020001003, 1020001401, 1030001100, 1030001200, 1040002201, 1040004101, 1130002003, 1130000405, 1130000404, 1130001902, 1130002302, 1130002303, 1130002401, 1130004301, 1130004402, 1130004404, 1130005801, 1130007001, 1130007400, 1130036400, 1130005803, 1130005802, 2210044801, 1040001103, 1040001104, 1040001501, 2180000102, 2180000201, 2180000202, 1040000702]
북악산로 = [1000021101, 1000021102, 1000021103, 1000021201, 1000021203, 1070010801, 1070010802, 1070010901, 1070010902, 1070011001, 1070032200, 1070032300, 1070011002, 1000021202, 1070010602, 1070010501, 1070010502, 1070010503, 1070010601, 1070010603, 1070010701, 1070010702, 1070027400, 1070027500, 1070030800, 1070030900, 1070075100, 1070075200]
낙산성곽서길 = [1000036300, 1000036400]
잠원로 = [1210030203, 1210028201, 1210028300, 1210029001, 1210029002, 1210029003, 1210029101, 1210029102, 1210029103, 1210027203, 1210027204, 1210026202, 1210027201, 1210027303, 1210030201, 1210030205, 1210030301, 1210030304, 1210030305, 1210030306, 1210178800, 1210030501, 1210026203, 1210027302, 1210030204, 1210026302, 1210026303, 1210027301, 1210027202, 1210027304]
도봉로 = [1090012801, 1090012802, 1080011401, 1080011301, 1080002703, 2070430201, 2070430301, 1090048301, 1090048401, 1090012804, 1080035800, 1090012704, 1090009002, 1090010904, 1090011004, 1080009401, 1080035900, 1080036400, 1080036500, 1080036600, 1080036700, 1090000301, 1090000302, 1090000303, 1090000401, 1090000402, 1090000403, 1090000501, 1090000502, 1090000503, 1090000601, 1090000602, 1090000603, 1090001701, 1090001702, 1090001801, 1090001802, 1090003700, 1090007101, 1090007102, 1090007201, 1090007202, 1090008901, 1090009001, 1090010903, 1090011005, 1090011900, 1090012000, 1090012701, 1090012702, 1090044400, 1090044500, 1080007900, 1080008000, 1080005101, 1080005102, 1080005103, 1080002802, 1080002803, 1080002701, 1080002702, 1080002801, 1080005104, 1080005105, 1080005201, 1080005202, 1080005203, 1080005204, 1080005205, 1080009301, 1080009302, 1080009402, 1080009900, 1080010000, 1090008903, 1090003801, 1090008902, 1090003802, 1090010901, 1090010902, 1090011002, 1090011003, 1070018301, 1070018302, 1070018401, 1070018402, 1090009003]
덕릉로 = [1080008200, 1100028402, 1100034303, 1090000802, 1090000803, 1100028401, 1100026902, 1100027002, 1100028301, 1100028302, 1090002301, 1100031704, 1090016800, 1090016900, 1100031705, 1100031803, 1100029901, 1100029903, 1100030001, 1100030003, 1100031703, 1100027001, 2220180200, 2220180300, 2220179600, 2220179700, 1090002302, 1090002401, 1090002402, 1090000701, 1090000702, 1090000703, 1090000801, 1090001100, 1090001200, 1090001900, 1090002000, 1090002100, 1090002200, 1090043800, 1090043900, 1090044800, 1090044900, 1100022701, 1100022702, 1100022703, 1100022801, 1100022802, 1100022803, 1100023100, 1100023200, 1100023502, 1100023602, 1100023900, 1100024000, 1100025301, 1100025302, 1100025401, 1100025402, 1100026901, 1100031804, 1100031806, 1100031807, 1100034304, 1100034305, 1100034306, 1100034402, 1100034403, 1100034404, 1100034405, 1100035702, 1100035713, 1100035723, 1100035801, 1100035812, 1100035822, 1080007600, 1080007500, 1080006500, 1080006600, 1080006900, 1080007000, 1080007101, 1080007102, 1080007201, 1080007202, 1080007301, 1080007302, 1080007401, 1080007402, 1080008101, 1080008901, 1080009002, 1100034302, 1100031805, 1100034401]
봉은사로 = [1220030902, 1220029001, 1220029002, 1220029003, 1220029102, 1220029103, 1220029104, 1220030001, 1220030002, 1220030003, 1220030101, 1220030102, 1220030103, 1220031503, 1220027201, 1220030801, 1220028202, 1220027202, 1220027203, 1220027301, 1220027302, 1220027303, 1220028302, 1220028301, 1220030802, 1220030901, 1220031402, 1220031403, 1220031502, 1220031404, 1220031504, 1220031600, 1220031700, 1220028201]
도구로 = [1210041700, 1210041800, 1210045202, 1210049000, 1210049100, 1210045102, 1210045101, 1210045201]
수색로 = [1110006201, 1120053100, 1120053702, 1120053801, 1120053802, 1120005700, 1120005800, 1110002901, 1110002902, 1110003001, 1110003003, 1110003300, 1110003400, 1110003900, 1110004000, 1110004900, 1110005000, 1110006101, 1120020702, 1120020802, 1120008503, 1120008603, 1120064700, 1120053701, 1120053200, 1120064800]
서오릉로 = [1110011100, 2180011211, 2180065600, 2180065700, 2180011102, 2180072700, 2180160400, 2180162100, 2180056600, 2180160500, 2180160600, 2180011101, 2180072600, 2180009204, 2180162200, 2180160300, 2180159000, 2180159200, 1110010001, 1110010002, 1110009902, 1110009500, 1110009601, 1110009901, 1110011200, 1110012600, 1110012900, 1110012500, 1110013000, 1110013301, 1110013302, 1110013401, 1110013402, 2180009205, 2180009101, 2180009103, 2180009104, 2180009105, 2180009201, 2180009203, 2180008500, 2180008600, 2180011111, 2180011201, 2180011202, 2180014101, 2180014102, 2180014103, 2180014201, 2180014202, 2180014203, 2180056700, 2180057200, 2180057300, 2180060000, 2180060100, 2180157900, 2180158200]
정릉로 = [1070013302, 1070013303, 1070013402, 1070012003, 1070045900, 1070047700, 1070047800, 1070013200, 1070012002, 1070016202, 1070011902, 1070012401, 1070013403, 1070016102, 1070015100, 1070015200, 1070016101, 1070016203, 1070016204, 1070045800, 1070060800, 1070060700, 1070061300, 1070061400, 1070012302, 1070012301, 1070012303, 1070012304, 1070013101, 1070013102, 1070013301, 1070012403, 1070011904, 1070011905, 1070012001, 1070012305, 1070012402, 1070014700, 1070045700, 1070045600, 1070044600, 1070044700, 1070013401, 1070014800]
다산로 = [1010006701, 1010006702, 1010019101, 1010001702, 1010051200, 1010051300, 1020021301, 1020021401, 1020048800, 1010001800, 1010015903, 1010015904, 1010006801, 1010006802, 1010015905, 1010015906, 1010016003, 1010016004, 1010016005, 1010016006, 1010019201, 1020049000]
해등로 = [1090007703, 1090007801, 1090008301, 1090008302, 1090008401, 1090004700, 1090004800, 1090008204, 1090002700, 1090002800, 1090007701, 1090007702, 1090007802, 1090007803, 1090008101, 1090008102, 1090008103, 1090008104, 1090008201, 1090008202, 1090008203, 1090008402, 1090008701, 1090008702, 1090008703, 1090008801, 1090008802, 1090008803]
연남로 = [1130021503, 1130021502, 1130021603, 1130019301, 1130019302, 1130019401, 1130019402, 1130021601, 1130021602]
사근동길 = [1030015802, 1030015702, 1030015701, 1030015801]
홍릉로 = [1050015200, 1050015100, 1050013102, 1050013201, 1050013202, 1050016702, 1050016801, 1050016802, 1050016701]
마장로 = [1030018202, 1030047200, 1030047300, 1030018102, 1010018502, 1030019602, 1030018104, 1030018204, 1030018600, 1030018701, 1030018702, 1030018703, 1030018801, 1030019103, 1030019201, 1030019604, 1030019504, 1030019202, 1030018803, 1030019102, 1010018000, 1010017900, 1010018501, 1010018702, 1010018601, 1010018602, 1010018701, 1010018801, 1010018802, 1030020000, 1030018802, 1030019900, 1030018500, 1030019502, 1030019503, 1030019603]
소공로 = [1010002701, 1010009501, 1010009602, 1010002803, 1010002802, 1010002801, 1010004903, 1010005003, 1010011100, 1010007600, 1010007500, 1010009601, 1010009502, 1010011200, 1010002702, 1010004901, 1010004902, 1010005001, 1010005002, 1010002703]
고려대로 = [1070004101, 1070004103, 1070003701, 1070003702, 1070003801, 1070003802, 1070004104, 1070004201, 1070004203, 1070004204, 1070004301, 1070004401, 1070004402]
무학로 = [1030017902, 1030018001, 1030019700, 1030019800, 1030049600, 1050005901, 1050006001, 1050010203, 1050010202, 1050011901, 1050011902, 1050011903, 1050011904, 1050012001, 1050012002, 1050012003, 1050012004, 1050010102, 1050010103, 1030017901, 1030049700, 1030018002]
방배로 = [1210015601, 1210018802, 1210018901, 1210018902, 1210021301, 1210011800, 1210011900, 1210015602, 1210015701, 1210015702, 1210018801, 1210021200]
도봉로110길 = [1090002901, 1090002902, 1090003001, 1090003002]
노원로20길 = [1100023700, 1100023800]
삼선교로 = [1070004702, 1070004802, 1070005700, 1070005800]
솔매로 = [1080020600, 1080003502, 1080003602, 1080003501, 1080003601, 1080019200, 1080019100, 1080019300, 1080019400, 1080020500, 1080021300, 1080021400]
남대문로 = [1010007200, 1010007100, 1010011402, 1010016901, 1010011401, 1010016902, 1010017001, 1010017002, 1010005101, 1010005102, 1010005201, 1010005202, 1010011301, 1010011302]

roadlst = [청계천로,삼봉로,창경궁로,자하문로,청와대로,성균관로,혜화로,강변북로,북악산로,낙산성곽서길,잠원로,도봉로,
           덕릉로,봉은사로,도구로,수색로,서오릉로,정릉로,다산로,해등로,연남로,사근동길,홍릉로,마장로,소공로,고려대로,
           무학로,방배로,도봉로110길,노원로20길,삼선교로,솔매로,남대문로]

In [120]:
df3 = df2.copy()

In [ ]:
꽤오래걸리네..;

In [129]:
from tqdm import tqdm
import time

In [130]:
A = []

for xx in roadlst:
    for i in tqdm(range(len(xx))):        
        df999 = df3[df3['LINK_ID'] == xx[i]]
        df999 = df999.sort_values(by=['시간'])
        df999 = df999.reset_index(drop=True)
        df9999 = df999.groupby(['구분']).mean()

        result = pd.DataFrame(None)
        result['통행속도'] = df9999['통행속도']
        #real_result = result.T
        A.append(result.T)

# 20211107 경기도 상행 통행속도 합침
real_result = pd.concat(A)
real_result = real_result.reset_index(drop=True)

# 판다스 반올림
real_result = real_result.round(1)
real_result

100%|██████████████████████████████████████████████████████████████████████████████████| 47/47 [01:31<00:00,  1.94s/it]
100%|████████████████████████████████████████████████████████████████████████████████████| 8/8 [00:15<00:00,  1.93s/it]
100%|██████████████████████████████████████████████████████████████████████████████████| 34/34 [01:06<00:00,  1.96s/it]
100%|██████████████████████████████████████████████████████████████████████████████████| 22/22 [00:42<00:00,  1.92s/it]
100%|████████████████████████████████████████████████████████████████████████████████████| 4/4 [00:07<00:00,  1.92s/it]
100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [00:11<00:00,  1.92s/it]
100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [00:11<00:00,  1.97s/it]
100%|████████████████████████████████████████████████████████████████████████████████| 161/161 [05:36<00:00,  2.09s/it]
100%|██████████████████████████████████████████████████████████████████████████████████| 28/28 [00:55<00:00,  1.98s/it]
100%|████████████████████████████████████████████████████████████████████████████████████| 2/2 [00:03<00:00,  1.98s/it]
100%|██████████████████████████████████████████████████████████████████████████████████| 30/30 [01:05<00:00,  2.18s/it]
100%|██████████████████████████████████████████████████████████████████████████████████| 87/87 [03:08<00:00,  2.17s/it]
100%|██████████████████████████████████████████████████████████████████████████████████| 96/96 [03:29<00:00,  2.18s/it]
100%|██████████████████████████████████████████████████████████████████████████████████| 34/34 [01:14<00:00,  2.19s/it]
100%|████████████████████████████████████████████████████████████████████████████████████| 8/8 [00:17<00:00,  2.20s/it]
100%|██████████████████████████████████████████████████████████████████████████████████| 26/26 [00:56<00:00,  2.18s/it]
100%|██████████████████████████████████████████████████████████████████████████████████| 58/58 [02:04<00:00,  2.14s/it]
100%|██████████████████████████████████████████████████████████████████████████████████| 44/44 [01:25<00:00,  1.94s/it]
100%|██████████████████████████████████████████████████████████████████████████████████| 22/22 [00:42<00:00,  1.95s/it]
100%|██████████████████████████████████████████████████████████████████████████████████| 28/28 [01:00<00:00,  2.18s/it]
100%|████████████████████████████████████████████████████████████████████████████████████| 9/9 [00:19<00:00,  2.22s/it]
100%|████████████████████████████████████████████████████████████████████████████████████| 4/4 [00:07<00:00,  1.91s/it]
100%|████████████████████████████████████████████████████████████████████████████████████| 9/9 [00:17<00:00,  1.95s/it]
100%|██████████████████████████████████████████████████████████████████████████████████| 36/36 [01:12<00:00,  2.01s/it]
100%|██████████████████████████████████████████████████████████████████████████████████| 20/20 [00:38<00:00,  1.94s/it]
100%|██████████████████████████████████████████████████████████████████████████████████| 13/13 [00:25<00:00,  1.95s/it]
100%|██████████████████████████████████████████████████████████████████████████████████| 22/22 [00:43<00:00,  1.97s/it]
100%|██████████████████████████████████████████████████████████████████████████████████| 12/12 [00:25<00:00,  2.12s/it]
100%|████████████████████████████████████████████████████████████████████████████████████| 4/4 [00:08<00:00,  2.10s/it]
100%|████████████████████████████████████████████████████████████████████████████████████| 2/2 [00:04<00:00,  2.09s/it]
100%|████████████████████████████████████████████████████████████████████████████████████| 4/4 [00:07<00:00,  1.94s/it]
100%|██████████████████████████████████████████████████████████████████████████████████| 12/12 [00:25<00:00,  2.17s/it]
100%|██████████████████████████████████████████████████████████████████████████████████| 14/14 [00:27<00:00,  1.97s/it]

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,18.8,26.6,16.3,22.4,21.5,31.2,28.5,18.0,15.0,16.3,...,19.5,15.3,17.5,17.5,18.4,19.2,25.4,28.3,17.7,23.8
1,16.7,26.2,16.2,21.8,21.4,30.2,26.3,18.7,14.2,15.4,...,8.8,11.0,10.4,12.0,12.7,17.7,15.7,17.8,17.7,25.3
2,26.6,29.0,29.4,28.2,27.0,23.5,21.2,25.0,23.3,23.4,...,15.6,14.1,20.9,19.6,18.9,18.3,23.6,21.9,26.4,26.0
3,21.7,23.2,26.0,23.9,23.5,20.9,20.4,18.2,18.0,14.1,...,15.4,12.9,15.9,19.2,16.8,16.8,16.3,9.6,21.0,19.2
4,24.6,23.8,20.4,19.8,20.0,21.9,12.1,11.9,10.6,14.6,...,12.8,12.3,9.7,10.4,9.1,14.5,15.0,12.9,17.2,19.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
907,28.7,27.0,29.5,33.2,26.5,25.8,22.0,21.8,17.5,17.8,...,17.6,15.2,15.7,18.0,14.6,16.5,19.2,19.8,25.6,24.0
908,27.5,25.3,23.6,26.1,28.5,27.6,22.5,27.5,28.0,24.0,...,27.2,25.9,28.0,23.7,21.5,25.4,18.5,20.1,23.0,28.0
909,26.1,23.0,29.0,18.0,21.8,17.4,26.1,15.8,14.6,18.8,...,15.2,15.2,17.6,17.2,21.2,16.6,20.5,19.4,23.8,19.8
910,30.6,38.8,44.3,42.6,39.1,27.0,39.8,35.1,32.5,27.1,...,23.0,23.1,22.0,24.9,24.4,28.7,28.7,30.4,31.8,33.3
911,27.0,32.4,21.7,28.0,32.3,19.2,26.4,27.5,27.2,24.2,...,20.4,20.6,22.1,22.5,21.8,23.7,23.3,26.4,29.0,26.6

In [144]:
real_result.to_excel('./서울시 대충 평균속도.xlsx')

In [4]:
real_result = pd.read_excel('./서울시 대충 평균속도.xlsx', index_col = 0)

In [5]:
real_result

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,18.8,26.6,16.3,22.4,21.5,31.2,28.5,18.0,15.0,16.3,...,19.5,15.3,17.5,17.5,18.4,19.2,25.4,28.3,17.7,23.8
1,16.7,26.2,16.2,21.8,21.4,30.2,26.3,18.7,14.2,15.4,...,8.8,11.0,10.4,12.0,12.7,17.7,15.7,17.8,17.7,25.3
2,26.6,29.0,29.4,28.2,27.0,23.5,21.2,25.0,23.3,23.4,...,15.6,14.1,20.9,19.6,18.9,18.3,23.6,21.9,26.4,26.0
3,21.7,23.2,26.0,23.9,23.5,20.9,20.4,18.2,18.0,14.1,...,15.4,12.9,15.9,19.2,16.8,16.8,16.3,9.6,21.0,19.2
4,24.6,23.8,20.4,19.8,20.0,21.9,12.1,11.9,10.6,14.6,...,12.8,12.3,9.7,10.4,9.1,14.5,15.0,12.9,17.2,19.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
907,28.7,27.0,29.5,33.2,26.5,25.8,22.0,21.8,17.5,17.8,...,17.6,15.2,15.7,18.0,14.6,16.5,19.2,19.8,25.6,24.0
908,27.5,25.3,23.6,26.1,28.5,27.6,22.5,27.5,28.0,24.0,...,27.2,25.9,28.0,23.7,21.5,25.4,18.5,20.1,23.0,28.0
909,26.1,23.0,29.0,18.0,21.8,17.4,26.1,15.8,14.6,18.8,...,15.2,15.2,17.6,17.2,21.2,16.6,20.5,19.4,23.8,19.8
910,30.6,38.8,44.3,42.6,39.1,27.0,39.8,35.1,32.5,27.1,...,23.0,23.1,22.0,24.9,24.4,28.7,28.7,30.4,31.8,33.3
911,27.0,32.4,21.7,28.0,32.3,19.2,26.4,27.5,27.2,24.2,...,20.4,20.6,22.1,22.5,21.8,23.7,23.3,26.4,29.0,26.6

In [8]:
# 날짜 칼럼 추가
plist = []

for i in range(912):
    plist.append(20221107)
        
# link id 칼럼 추가
rlist = []

for xx in roadlst:
    for i in range(len(xx)):
        rlist.append(xx[i])
            
linkid = pd.DataFrame(None)
linkid['LINK_ID'] = None

dates = len(roadlst)

linkid['LINK_ID'] = rlist
linkid

        LINK_ID
0    1000002801
1    1000002802
2    1000002901
3    1000002902
4    1000003001
..          ...
907  1010005102
908  1010005201
909  1010005202
910  1010011301
911  1010011302

[912 rows x 1 columns]

In [9]:
almostdone = pd.concat([real_result,linkid],axis=1)
almostdone

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,LINK_ID
0,18.8,26.6,16.3,22.4,21.5,31.2,28.5,18.0,15.0,16.3,...,15.3,17.5,17.5,18.4,19.2,25.4,28.3,17.7,23.8,1000002801
1,16.7,26.2,16.2,21.8,21.4,30.2,26.3,18.7,14.2,15.4,...,11.0,10.4,12.0,12.7,17.7,15.7,17.8,17.7,25.3,1000002802
2,26.6,29.0,29.4,28.2,27.0,23.5,21.2,25.0,23.3,23.4,...,14.1,20.9,19.6,18.9,18.3,23.6,21.9,26.4,26.0,1000002901
3,21.7,23.2,26.0,23.9,23.5,20.9,20.4,18.2,18.0,14.1,...,12.9,15.9,19.2,16.8,16.8,16.3,9.6,21.0,19.2,1000002902
4,24.6,23.8,20.4,19.8,20.0,21.9,12.1,11.9,10.6,14.6,...,12.3,9.7,10.4,9.1,14.5,15.0,12.9,17.2,19.0,1000003001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
907,28.7,27.0,29.5,33.2,26.5,25.8,22.0,21.8,17.5,17.8,...,15.2,15.7,18.0,14.6,16.5,19.2,19.8,25.6,24.0,1010005102
908,27.5,25.3,23.6,26.1,28.5,27.6,22.5,27.5,28.0,24.0,...,25.9,28.0,23.7,21.5,25.4,18.5,20.1,23.0,28.0,1010005201
909,26.1,23.0,29.0,18.0,21.8,17.4,26.1,15.8,14.6,18.8,...,15.2,17.6,17.2,21.2,16.6,20.5,19.4,23.8,19.8,1010005202
910,30.6,38.8,44.3,42.6,39.1,27.0,39.8,35.1,32.5,27.1,...,23.1,22.0,24.9,24.4,28.7,28.7,30.4,31.8,33.3,1010011301
911,27.0,32.4,21.7,28.0,32.3,19.2,26.4,27.5,27.2,24.2,...,20.6,22.1,22.5,21.8,23.7,23.3,26.4,29.0,26.6,1010011302

In [10]:
# 날짜 칼럼추가
almostdone['DATES'] = plist
almostdone

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,LINK_ID,DATES
0,18.8,26.6,16.3,22.4,21.5,31.2,28.5,18.0,15.0,16.3,...,17.5,17.5,18.4,19.2,25.4,28.3,17.7,23.8,1000002801,20221107
1,16.7,26.2,16.2,21.8,21.4,30.2,26.3,18.7,14.2,15.4,...,10.4,12.0,12.7,17.7,15.7,17.8,17.7,25.3,1000002802,20221107
2,26.6,29.0,29.4,28.2,27.0,23.5,21.2,25.0,23.3,23.4,...,20.9,19.6,18.9,18.3,23.6,21.9,26.4,26.0,1000002901,20221107
3,21.7,23.2,26.0,23.9,23.5,20.9,20.4,18.2,18.0,14.1,...,15.9,19.2,16.8,16.8,16.3,9.6,21.0,19.2,1000002902,20221107
4,24.6,23.8,20.4,19.8,20.0,21.9,12.1,11.9,10.6,14.6,...,9.7,10.4,9.1,14.5,15.0,12.9,17.2,19.0,1000003001,20221107
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
907,28.7,27.0,29.5,33.2,26.5,25.8,22.0,21.8,17.5,17.8,...,15.7,18.0,14.6,16.5,19.2,19.8,25.6,24.0,1010005102,20221107
908,27.5,25.3,23.6,26.1,28.5,27.6,22.5,27.5,28.0,24.0,...,28.0,23.7,21.5,25.4,18.5,20.1,23.0,28.0,1010005201,20221107
909,26.1,23.0,29.0,18.0,21.8,17.4,26.1,15.8,14.6,18.8,...,17.6,17.2,21.2,16.6,20.5,19.4,23.8,19.8,1010005202,20221107
910,30.6,38.8,44.3,42.6,39.1,27.0,39.8,35.1,32.5,27.1,...,22.0,24.9,24.4,28.7,28.7,30.4,31.8,33.3,1010011301,20221107
911,27.0,32.4,21.7,28.0,32.3,19.2,26.4,27.5,27.2,24.2,...,22.1,22.5,21.8,23.7,23.3,26.4,29.0,26.6,1010011302,20221107

In [12]:
df4 = pd.melt(almostdone, id_vars=['LINK_ID','DATES'], value_vars=[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23], var_name='시간', value_name='평균속도(km/h)')
df4 # 굳

          LINK_ID     DATES  시간  평균속도(km/h)
0      1000002801  20221107   0        18.8
1      1000002802  20221107   0        16.7
2      1000002901  20221107   0        26.6
3      1000002902  20221107   0        21.7
4      1000003001  20221107   0        24.6
...           ...       ...  ..         ...
21883  1010005102  20221107  23        24.0
21884  1010005201  20221107  23        28.0
21885  1010005202  20221107  23        19.8
21886  1010011301  20221107  23        33.3
21887  1010011302  20221107  23        26.6

[21888 rows x 4 columns]

In [13]:
df999 = df4[df4['평균속도(km/h)'] >= 25]
df999['도로상태'] = '원활'

df9999 = df4[(df4['평균속도(km/h)'] < 25) & (df4['평균속도(km/h)'] >= 15)]
df9999['도로상태'] = '서행'

df99999 = df4[df4['평균속도(km/h)'] < 15]
df99999['도로상태'] = '정체'

df4 = pd.concat([df999,df9999,df99999])

c:\users\이윤호\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

c:\users\이윤호\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
c:\users\이윤호\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [14]:
df4 = df4.astype({'LINK_ID':'str'})

In [15]:
df4.to_excel('./ㅇㅅㅇ2.xlsx')

In [16]:
df4.to_csv('./ㅇㅅㅇ2.csv')