원하는 도로의 링크별로 열 데이터를 따로 추출해서 모은 excel 파일을 열어줌

In [155]:
import numpy as np
import pandas as pd

# 20221107 ~ 20221114
df = pd.read_excel('./태블로식_최종.xlsx',index_col=0)
df.drop(columns=['Unnamed: 0.1'],inplace=True)
df

             날짜    시간     LINK_ID    도로기관코드  통행속도  newone  구분
0      20221107     0  2230072900  46340006  24.0     223   0
1      20221107     5  2230072900  46340006  24.0     223   0
2      20221107    10  2230072900  46340006  24.0     223   0
3      20221107    20  2230072900  46340006  24.0     223   0
4      20221107    25  2230072900  46340006  24.0     223   0
...         ...   ...         ...       ...   ...     ...  ..
14737  20221114  2305  2230004100  46340006  26.0     223  23
14738  20221114  2325  2230004100  46340006  37.0     223  23
14739  20221114  2335  2230004100  46340006  29.0     223  23
14740  20221114  2345  2230004100  46340006  34.0     223  23
14741  20221114  2350  2230004100  46340006  35.0     223  23

[123065 rows x 7 columns]

구분자를 만들어서 한시간동안의 평균통행속도를 구해준다

In [156]:
# df[df['날짜'] == 20221107] # 흠..

In [157]:
df3 = df.copy()

In [158]:
roadlst = [원동로상행,원동로하행,경기대로상행,경기대로하행,남부대로상행,남부대로하행,성호대로상행,
          성호대로하행,서부로상행,서부로하행,경기동로상행,경기동로하행,오산로상행,오산로하행,
          문시로상행,문시로하행]

roadlst[1]

[2230017501, 2230017502, 2230003600, 2230004000, 2230004100]

In [159]:
## 원동로
원동로상행 = [2230017602,2230017601,2230003500,2230003900,2230004200]
원동로하행 = [2230017501,2230017502,2230003600,2230004000,2230004100]
경기대로상행 = [2230006203,2230006202,2230006201,2230005200,2230004803,2230004802,2230004801]
경기대로하행 = [2230006103,2230006102,2230006101,2230005100,2230004703,2230004702,2230004701]
남부대로상행 = [2230073400,2230073200,2230073000,2230001602,2230001400]
남부대로하행 = [2230073300,2230073100,2230072900,2230001501,2230001300]
성호대로상행 = [2230005900,2230005700,2230005302,2230005502,2230026300,2230005503,2230005301,2230028600,2230028200,2230027800]
성호대로하행 = [2230006000,2230005800,2230005603,2230005602,2230026400,2230005402,2230005401,2230028500,2230028100,2230027700]
서부로상행 = [2230159000,2230159100,2230159302,2230347501,2230347901,2230347701,2230347301]
서부로하행 = [2230158800,2230158900,2230159201,2230347601,2230347801,2230347401,2230347201]
경기동로상행 = [2230007902,2230007903,2230007904,2230007905,2230007906,2230007907,2230007908,2230007909,2230007700,2330018732]
경기동로하행 = [2230008002,2230008003,2230008004,2230008005,2230008006,2230008007,2230008008,2230008009,2230007800,2330018812]
오산로상행 = [2230017300,2230012901,2230012902,2230073500]
오산로하행 = [2230017400,2230013001,2230013002,2230073600]
문시로상행 = [2230160202,2230160201,2230161102,2230161101,2230162000]
문시로하행 = [2230160301,2230160302,2230161001,2230161002,2230162100]

roadlst = [원동로상행,원동로하행,경기대로상행,경기대로하행,남부대로상행,남부대로하행,성호대로상행,
          성호대로하행,서부로상행,서부로하행,경기동로상행,경기동로하행,오산로상행,오산로하행,
          문시로상행,문시로하행]

A = []

datetoend = 20221114
datetostart = 20221107

for xx in roadlst:
    for i in range(len(xx)):
        for j in range(datetostart,datetoend):
            df999 = df3[df3['LINK_ID'] == xx[i]]
            df999 = df999[df999['날짜'] == j]
            df999 = df999.sort_values(by=['시간'])
            df999 = df999.reset_index(drop=True)
            df9999 = df999.groupby(['구분']).mean()

            result = pd.DataFrame(None)
            result['통행속도'] = df9999['통행속도']
            #real_result = result.T
            A.append(result.T)

# 20211107 경기도 상행 통행속도 합침
real_result = pd.concat(A)
real_result = real_result.reset_index(drop=True)

# 판다스 반올림
real_result = real_result.round(1)
real_result

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,40.1,42.8,43.0,38.0,40.2,40.5,16.8,16.8,15.0,15.0,...,17.6,18.1,18.3,15.0,16.2,14.5,21.5,19.3,29.7,32.6
1,41.4,43.0,42.0,41.6,43.8,37.7,20.4,16.6,13.7,18.0,...,16.8,15.6,16.0,16.5,15.2,16.0,20.5,18.0,11.0,29.7
2,42.2,42.4,42.7,42.6,33.4,46.0,26.3,16.0,10.5,17.6,...,15.0,16.0,15.9,15.0,17.2,17.0,27.6,32.2,23.4,21.5
3,35.6,23.7,28.0,44.8,46.6,46.3,22.2,16.7,12.6,17.1,...,15.0,19.1,16.8,15.1,16.0,16.0,21.2,17.8,21.5,13.2
4,23.3,33.6,19.0,38.6,38.5,44.7,22.8,12.2,6.0,16.1,...,15.9,17.1,17.3,15.5,13.1,16.7,17.2,23.8,16.2,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
737,28.1,30.8,30.6,32.5,40.2,27.1,20.8,19.2,18.0,19.2,...,21.3,21.1,19.8,14.0,14.1,13.1,19.0,20.1,22.0,25.6
738,25.5,35.8,36.8,37.0,30.2,20.2,22.7,20.2,19.5,16.8,...,20.8,16.4,17.0,13.7,11.2,15.6,18.0,20.2,25.0,27.3
739,28.6,25.9,25.9,32.2,22.5,28.7,18.8,21.2,17.5,21.6,...,20.2,20.9,18.0,14.1,13.2,12.6,15.6,21.5,21.6,26.7
740,26.8,29.3,31.9,18.5,33.0,33.6,24.0,21.5,19.9,24.6,...,18.1,17.5,19.0,14.9,17.0,20.3,22.7,23.0,23.0,25.5
741,34.1,28.9,20.2,22.6,33.0,29.6,29.3,26.2,23.8,25.6,...,21.2,18.4,16.2,17.9,19.6,20.9,23.0,25.2,25.2,27.3

In [80]:
len((원동로상행 + 원동로하행 + 경기대로상행 + 경기대로하행 + 남부대로상행 + 남부대로하행 + 성호대로상행 + 
성호대로하행 + 서부로상행 + 서부로하행 + 경기동로상행 + 경기동로하행 + 오산로상행 + 오산로하행 + 
문시로상행 + 문시로하행) * 7)

742

In [163]:
# 날짜 칼럼 추가
plist = []

for i in range(106):
    for j in range(datetostart,datetoend):
        plist.append(j)

In [164]:
len(plist)

742

In [175]:
# link id 칼럼 추가
rlist = []

for xx in roadlst:
    for i in range(len(xx)):
        for j in range(7): # 같은거 7번 반복 여기.. 맨 안
            rlist.append(xx[i])

In [177]:
linkid = pd.DataFrame(None)
linkid['LINK_ID'] = None

dates = len(roadlst)

linkid['LINK_ID'] = rlist
linkid

almostdone = pd.concat([real_result,linkid],axis=1)
almostdone

# 날짜 칼럼추가
almostdone['DATES'] = plist
almostdone

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,LINK_ID,DATES
0,40.1,42.8,43.0,38.0,40.2,40.5,16.8,16.8,15.0,15.0,...,18.3,15.0,16.2,14.5,21.5,19.3,29.7,32.6,2230017602,20221107
1,41.4,43.0,42.0,41.6,43.8,37.7,20.4,16.6,13.7,18.0,...,16.0,16.5,15.2,16.0,20.5,18.0,11.0,29.7,2230017602,20221108
2,42.2,42.4,42.7,42.6,33.4,46.0,26.3,16.0,10.5,17.6,...,15.9,15.0,17.2,17.0,27.6,32.2,23.4,21.5,2230017602,20221109
3,35.6,23.7,28.0,44.8,46.6,46.3,22.2,16.7,12.6,17.1,...,16.8,15.1,16.0,16.0,21.2,17.8,21.5,13.2,2230017602,20221110
4,23.3,33.6,19.0,38.6,38.5,44.7,22.8,12.2,6.0,16.1,...,17.3,15.5,13.1,16.7,17.2,23.8,16.2,30.0,2230017602,20221111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
737,28.1,30.8,30.6,32.5,40.2,27.1,20.8,19.2,18.0,19.2,...,19.8,14.0,14.1,13.1,19.0,20.1,22.0,25.6,2230162100,20221109
738,25.5,35.8,36.8,37.0,30.2,20.2,22.7,20.2,19.5,16.8,...,17.0,13.7,11.2,15.6,18.0,20.2,25.0,27.3,2230162100,20221110
739,28.6,25.9,25.9,32.2,22.5,28.7,18.8,21.2,17.5,21.6,...,18.0,14.1,13.2,12.6,15.6,21.5,21.6,26.7,2230162100,20221111
740,26.8,29.3,31.9,18.5,33.0,33.6,24.0,21.5,19.9,24.6,...,19.0,14.9,17.0,20.3,22.7,23.0,23.0,25.5,2230162100,20221112
741,34.1,28.9,20.2,22.6,33.0,29.6,29.3,26.2,23.8,25.6,...,16.2,17.9,19.6,20.9,23.0,25.2,25.2,27.3,2230162100,20221113

알아보기 쉽게, 그리고 나중에 공간분석 파일과 결합하기위해 LINK_ID 칼럼과 DATES 칼럼을 추가한다

In [178]:
df4 = pd.melt(almostdone, id_vars=['LINK_ID','DATES'], value_vars=[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23], var_name='시간', value_name='평균속도(km/h)')
df4 # 굳

          LINK_ID     DATES  시간  평균속도(km/h)
0      2230017602  20221107   0        40.1
1      2230017602  20221108   0        41.4
2      2230017602  20221109   0        42.2
3      2230017602  20221110   0        35.6
4      2230017602  20221111   0        23.3
...           ...       ...  ..         ...
17803  2230162100  20221109  23        25.6
17804  2230162100  20221110  23        27.3
17805  2230162100  20221111  23        26.7
17806  2230162100  20221112  23        25.5
17807  2230162100  20221113  23        27.3

[17808 rows x 4 columns]

pandas 에서의 melt 함수를 이용하여 태블로식으로 데이터를 형변환 시켜준다

In [179]:
df999 = df4[df4['평균속도(km/h)'] >= 25]
df999['도로상태'] = '원활'

df9999 = df4[(df4['평균속도(km/h)'] < 25) & (df4['평균속도(km/h)'] >= 15)]
df9999['도로상태'] = '서행'

df99999 = df4[df4['평균속도(km/h)'] < 15]
df99999['도로상태'] = '정체'

df4 = pd.concat([df999,df9999,df99999])

c:\users\이윤호\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

c:\users\이윤호\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
c:\users\이윤호\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [180]:
df4 = df4.astype({'LINK_ID':'str'})

In [181]:
df4.dtypes

LINK_ID        object
DATES           int64
시간             object
평균속도(km/h)    float64
도로상태           object
dtype: object

In [183]:
df4.to_excel('./ㅇㅅㅇ.xlsx')

In [184]:
df4.to_csv('./ㅇㅅㅇ.csv')

끗